<po-page-detail [p-title]="title">
    <div class="po-row po-pt-2 po-mb-2" style="justify-content: flex-start;">
        <po-button class="po-sm-12 po-md-4 po-lg-2 po-xl-2" p-label="Cadastrar novo Comentário"
            (p-click)="navegarParaComentarios()">
        </po-button>
    </div>
 
    <!-- lista de comentários-->
    <po-list-view class="po-row" p-property-title="user" [p-items]="lsComentarios">
        <ng-template p-list-view-content-template let-item>
            <div class="po-row" style="width: 90vw;">
                <po-avatar class="po-md-2" p-src="https://po-ui.io/assets/graphics/logo-po.png"></po-avatar>
                <div class="po-md-10">
                    <po-info class="po-md-12" p-label="Ponto Turístico" [p-value]="item.pontoTuristico"></po-info>


                    <po-info class="po-md-12" p-label="Comentário" [p-value]="item.comentario"></po-info>
                </div>
            </div>
        </ng-template>
    </po-list-view>
</po-page-detail>