<po-page-detail
    p-title="Novo cadastro de comentário">
    <form [formGroup]="formComentario">
		<po-input 
			class="po-sm-4 po-md-4 po-lg-3 po-xl-3"
			formControlName="user"
			p-label="User">
		</po-input>
        <po-select 
            class="po-sm-4 po-md-4 po-lg-3 po-xl-3"
            formControlName="pontoturistico"
            p-label="Ponto Turístico"
            [p-options]="lsPontoTuristico"></po-select>

        <po-textarea 
            class="po-sm-12 po-md-12 po-lg-5 po-xl-5"
            formControlName="comentario"
            p-label="Comentário">
        </po-textarea>
	</form>
    <div class="po-row po-pt-2" style="justify-content: flex-end;">
		<po-button 
			class="po-sm-3 po-md-3 po-lg-1 po-xl-1"
			(p-click)="salvar()"
			p-label="Salvar"></po-button>
		<po-button 
			class="po-sm-3 po-md-3 po-lg-1 po-xl-1"
			(p-click)="voltar()"
			p-label="Cancelar"></po-button>
	</div>
</po-page-detail>
