<po-page-detail [p-title]="title">
    <form [formGroup]="formComentario">
        <div class="po-row">
            <po-input 
                class="po-sm-12 po-md-6"
                formControlName="user"
                p-label="User">
            </po-input>
            <po-select 
                class="po-sm-12 po-md-6"
                formControlName="pontoTuristico"
                p-label="Ponto Turístico"
                [p-options]="lsPontoTuristico"></po-select>
        </div>
        <po-textarea 
            class="po-sm-12"
            formControlName="comentario"
            p-label="Comentário"
            [p-maxlength]="pmaxlength"
            >
        </po-textarea>
    </form>
    <div class="po-row po-pt-2 po-mb-2" style="justify-content: flex-end;">
        <po-button 
            class="po-sm-12 po-md-3 po-lg-2 po-xl-1"
            (p-click)="salvar()"
            p-label="Salvar"></po-button>
        <po-button 
            class="po-sm-12 po-md-3 po-lg-2 po-xl-1"
            (p-click)="voltar()"
            p-label="Cancelar"></po-button>
    </div>
</po-page-detail>